{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'category' %}" method="POST">
        {% csrf_token %}
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="none" selected disabled hidden><em>Select an Option</em></option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info">Select</button>
    </form>
    {% for listing in active %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ listing.url }}" class="img-fluid rounded-start" alt="{{ listing.item }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ listing.item }}</h5>
              <p class="card-text">{{ listing.description }}</p>
              <p class="card-text">£{{ listing.price.bid }}</p>
              <a href="{% url 'listing' id=listing.id %}" class="btn btn-info">Go to Listing</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}